@charset "UTF-8";
@font-face {
  font-family: "MontserratRegular";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  src: url("fonts/Montserrat-Regular.otf") format("opentype");
  src: url("fonts/Montserrat-Regular.eot");
  src: url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "CroissantOne";
  src: url("fonts/CroissantOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Montserrat-Medium.ttf") format("truetype");
  src: url("fonts/Montserrat-Medium.otf") format("opentype");
  src: url("fonts/Montserrat-Medium.eot");
  src: url("fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "MontserratSemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
  src: url("fonts/Montserrat-SemiBold.otf") format("opentype");
  src: url("fonts/Montserrat-SemiBold.eot");
  src: url("fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "nimbus_bold";
  src: url("fonts/NimbusRomNo9LBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nimbus_regular";
  src: url("fonts/NimbusRomNo9L.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  src: url("fonts/segoeprb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dancing-script";
  src: url("fonts/dancing-script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courgette";
  src: url("fonts/Courgette-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*body et block de page*/
#bloc_page {
  width: 1340px;
}

/*variable*/
/*header*/
header {
  text-align: center;
  background-color: #57a089;
  height: 140px;
}

header strong {
  font-family: "MontserratExtraBold",  sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  position: relative;
  top: 30px;
  color: yellowgreen;
  -webkit-animation-name: changement-couleur;
  animation-name: changement-couleur;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes changement-couleur {
  0% {
    color: yellowgreen;
  }
  25% {
    color: #98dd0e;
  }
  50% {
    color: #b2e205;
  }
  75% {
    color: yellow;
  }
  100% {
    color: #ddc03c;
  }
}

@keyframes changement-couleur {
  0% {
    color: yellowgreen;
  }
  25% {
    color: #98dd0e;
  }
  50% {
    color: #b2e205;
  }
  75% {
    color: yellow;
  }
  100% {
    color: #ddc03c;
  }
}

/*titres*/
h1 {
  position: relative;
  top: 100px;
}

/*section1*/
.section1 .section1-note_enchantee, .section1 .section1-chic_francaise, .section2 .section2-delicepapille, .section2 .section2-palettegout {
  border: 1px silver solid;
  -webkit-box-shadow: 2px 2px 10px silver;
          box-shadow: 2px 2px 10px silver;
  width: 350px;
  height: 500px;
  text-align: center;
  margin-top: 80px;
}

.section1 .section1-note_enchantee .section1-note_enchantee_paragraphe, .section1 .section1-chic_francaise .section1-chicfrancaise_paragraphe, .section2 .section2-delicepapille .section2-delicepapille_paragraphe, .section2 .section2-palettegout .section2-palettegout_paragraphe {
  position: relative;
  top: 135px;
  font-size: 1.5em;
  text-decoration: none;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section1 a {
  text-decoration: none;
}

.section1 .section1-note_enchantee {
  background-color: #fdd7d7;
  margin-left: 250px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section1 .section1-note_enchantee:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fcbfbf;
}

.section1 .section1-note_enchantee .image_note {
  position: relative;
  top: 180px;
  width: 50px;
  height: 50px;
}

.section1 .section1-note_enchantee .section1-note_enchantee_paragraphe {
  font-family: "Devonshire",  sans-serif;
  color: #3a3636;
  font-size: 2em;
}

.section1 .section1-note_enchantee h1 {
  font-family: 'Segoe', Tahoma,  Verdana, sans-serif;
  color: #353535;
  font-size: 2.5em;
}

.section1 .section1-chic_francaise {
  margin-right: 250px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #faf3f3;
}

.section1 .section1-chic_francaise:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f2f2f2;
}

.section1 .section1-chic_francaise .section1-chicfrancaise_paragraphe {
  top: 180px;
  font-family: "CroissantOne", Arial, sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#7f49fd), to(#ec7403));
  background: linear-gradient(to left, #7f49fd, #ec7403);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1 .section1-chic_francaise h1 {
  top: 160px;
  font-size: 2.5em;
  font-family: serif, Arial, Helvetica;
  color: #ec7403;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section2 a {
  text-decoration: none;
}

.section2 .section2-delicepapille {
  margin-left: 260px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section2 .section2-delicepapille:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f2f2f2;
}

.section2 .section2-delicepapille .section2-delicepapille_paragraphe {
  top: 160px;
  font-size: 2.5em;
  font-family: "dancing-script", 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0303ca), to(#17bfe9));
  background: linear-gradient(to right, #0303ca, #17bfe9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2 .section2-delicepapille h1 {
  top: 140px;
  font-size: 2.5em;
  font-family: segoe, Arial, Helvetica, sans-serif;
  color: #258da7;
}

.section2 .section2-palettegout {
  margin-right: 260px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section2 .section2-palettegout:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f2f2f2;
}

.section2 .section2-palettegout .section2-palettegout_paragraphe {
  top: 160px;
  font-size: 2.5em;
  font-family: "kaushan script", Tahoma, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(RGBa(70, 202, 70, 1)), to(RGBa(70, 202, 70, 0.4)));
  background: linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2 .section2-palettegout h1 {
  top: 140px;
  font-size: 2.5em;
  font-family: segoe, Arial, Helvetica, sans-serif;
  color: #258da7;
}

.section3 {
  margin-bottom: 200px;
}

.section3 .btn {
  border: 1px green solid;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  position: relative;
  margin-top: 90px;
  text-align: center;
  margin-left: 450px;
  font-size: 2em;
  padding: 5px;
  background-color: #57a089;
  color: #ddc03c;
  font-family: MontserratMedium, Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section3 .btn:hover {
  -webkit-box-shadow: 5px 5px 12px black;
          box-shadow: 5px 5px 12px black;
  background-color: #4e8f7b;
}

#bloc_page_menu1 {
  background-color: #fdd7d7;
}

.menu1-section1 {
  text-align: center;
  margin-top: 20px;
}

.menu1-section1 .image_note {
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
  position: relative;
  -webkit-animation-name: dancing;
  animation-name: dancing;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes dancing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dancing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu1-section1 h2 {
  font-family: "Devonshire",  sans-serif;
  font-size: 4em;
  margin-top: 0px;
}

.menu1-section2 h2, .menu1-section3 h2, .menu1-section4 h2, .menu2-section2 h2, .menu2-section3 h2, .menu2-section4 h2, .menu3-section2 h2, .menu3-section3 h2, .menu3-section4 h2 {
  text-align: center;
  font-size: 2em;
  color: black;
}

.menu1-section2 .menu-preludes .menu-prelude, .menu1-section3 .menu-point_orgue .menu-orgue, .menu2-section2 .menu-pour_appetit .menu-appetit, .menu2-section3 .menu-plaisir_papille .menu-plaisir, .menu3-section2 .menu-bien_commence .menu-commence, .menu3-section3 .menu-bien_continuer .menu-continuer, .menu3-section4 .menu-bien_terminer .menu-terminer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu1-section2 .menu-preludes .menu-prelude .menu, .menu1-section3 .menu-point_orgue .menu-orgue .menu, .menu2-section2 .menu-pour_appetit .menu-appetit .menu, .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu, .menu3-section2 .menu-bien_commence .menu-commence .menu, .menu3-section3 .menu-bien_continuer .menu-continuer .menu, .menu3-section4 .menu-bien_terminer .menu-terminer .menu {
  margin-left: 300px;
  font-size: 1.2em;
}

.menu1-section2 .menu-preludes .menu-prelude .menu-prix, .menu1-section3 .menu-point_orgue .menu-orgue .menu-prix, .menu2-section2 .menu-pour_appetit .menu-appetit .menu-prix, .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu-prix, .menu3-section2 .menu-bien_commence .menu-commence .menu-prix, .menu3-section3 .menu-bien_continuer .menu-continuer .menu-prix, .menu3-section4 .menu-bien_terminer .menu-terminer .menu-prix {
  margin-right: 350px;
}

.menu1-section2 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu1-section3 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu1-section4 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu1-section4 .menu-mouvement_final .menu-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  font-size: 1.2em;
  margin-left: 300px;
}

.menu1-section4 .menu-mouvement_final .menu-final li {
  margin-top: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-left: 500px;
}

.footer .image_note {
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  position: relative;
  right: 10px;
}

.footer h2 {
  font-family: "Devonshire",  sans-serif;
  font-size: 2.5em;
  margin-top: 0px;
}

#bloc_page_menu2 {
  background-color: #faf8f8;
}

.menu2-header {
  text-align: center;
  margin-top: 20px;
}

.menu2-header h2 {
  font-family: "CroissantOne", sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#7f49fd), to(#ec7403));
  background: linear-gradient(to left, #7f49fd, #ec7403);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  margin-bottom: 100px;
}

.menu2-section2 {
  font-family: sans-serif;
  font-size: 1.1em;
  margin-bottom: 100px;
  background: -webkit-gradient(linear, right top, left top, from(#f58c03), to(#f58c03));
  background: linear-gradient(to left, #f58c03, #f58c03);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2-section2 .menu-pour_appetit .menu-appetit .menu {
  margin-left: 300px;
}

.menu2-section3 {
  font-family: sans-serif;
  font-size: 1.1em;
  margin-bottom: 100px;
  background: -webkit-gradient(linear, right top, left top, from(#ad19ca), to(#ad19ca));
  background: linear-gradient(to left, #ad19ca, #ad19ca);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2-section4 {
  font-family: sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(blue), to(blue));
  background: linear-gradient(to left, blue, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
}

.menu2-section4 .menu-gourmendise_sucrée .menu-sucré {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  font-size: 1.3em;
  margin-left: 300px;
}

.menu2-section4 .menu-gourmendise_sucrée .menu-sucré li {
  margin-top: 10px;
}

#bloc_page_menu3 {
  background-color: #ecebe9;
}

.menu3-section1 {
  text-align: center;
  margin-top: 20px;
}

.menu3-section1 h2 {
  font-family: "Devonshire",  sans-serif;
  font-size: 4em;
  margin-bottom: 100px;
  font-family: "dancing-script", 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0303ca), to(#17bfe9));
  background: linear-gradient(to right, #0303ca, #17bfe9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3-section2 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu3-section2 h2 {
  font-size: 1.5em;
  font-weight: 100;
  padding-bottom: 50px;
}

.menu3-section2 .menu-bien_commence {
  font-size: 1em;
}

.menu3-section2 .menu-bien_commence .menu-commence .menu-prix {
  font-size: 1.3em;
}

.menu3-section3 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu3-section3 h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.menu3-section3 .menu-bien_continuer .menu-continuer .menu-prix {
  font-size: 1.5em;
}

.menu3-section4 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu3-section4 h2 {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 50px;
}

.menu3-section4 .menu-bien_terminer .menu-terminer .menu-prix {
  font-size: 1.5em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #57a089;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 1.5em;
  font-family: "MontserratRegular", Arial, sans-serif;
  font-weight: bold;
}

footer .mention_legale {
  color: #ddc03c;
  position: relative;
  left: 20px;
  top: 25px;
}

footer .contactez_nous {
  color: #ddc03c;
  position: relative;
  right: 30px;
  top: 25px;
}
/*# sourceMappingURL=style.css.map */