 
 @import"../sass/utils/variables";
 @import"../sass/utils/placeholders";
 @import"../sass/base/polices";
 @import"../sass/components/button";
 
 
/*body et block de page*/


#bloc_page{
    width: 1340px;
   
}


/*variable*/


/*header*/

header{
    text-align: center;
    background-color:$cd_font;
    height: 140px;
    strong{
    font-family:"MontserratExtraBold",  sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    position: relative;
    top:30px;
    color: yellowgreen;
    -webkit-animation-name:changement-couleur;
            animation-name:changement-couleur;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    @-webkit-keyframes changement-couleur{
        0%{color:$cleur_animation1;}
        25%{color:$cleur_animation2;}
        50%{color:$cleur_animation3;}
        75%{color:$cleur_animation4;}
        100%{color:$cd_txt;}
    }
    @keyframes changement-couleur{
        0%{color:$cleur_animation1;}
        25%{color:$cleur_animation2;}
        50%{color:$cleur_animation3;}
        75%{color:$cleur_animation4}
        100%{color:$cd_txt;}
    }
    }
}
@media screen and (max-width:1024px){
    header{
        width: auto;
        text-align: center;
    }
}


//menu principal

/*titres*/
h1{
    position: relative;
    top:100px
}
/*section1*/




.section1{
    display: flex;
    justify-content: space-around;
    a{text-decoration: none;}
    .section1-note_enchantee{
       @extend %border;
        background-color: $font_main1;
        margin-left: 250px;
        transition: all 200ms ease-in-out ;
        &:hover{
            transform: scale(1.1);
            background-color:darken( $font_main1, 5);
        }
        .image_note{
            position: relative;
            top:180px;
            width: 50px;
            height: 50px;
        }
        .section1-note_enchantee_paragraphe{
            @extend %paragraphe;
            font-family: "Devonshire",  sans-serif;
            color:#3a3636;
            font-size: 2em;
        }
        h1{
            font-family: 'Segoe', Tahoma,  Verdana, sans-serif;
            color:#353535;
            font-size: 2.5em;
        }      
    }

   
    .section1-chic_francaise{
        @extend %border;
        margin-right: 250px;
        transition: all 200ms ease-in-out ;
        background-color: #faf3f3;
        &:hover{
            transform: scale(1.1);
            background-color:darken(white, 5);
        }
         
        .section1-chicfrancaise_paragraphe{
            @extend %paragraphe;
            top:180px;
            font-family: "CroissantOne", Arial, sans-serif;
            background: linear-gradient(to left, $cleur_francaise, $cleur_fransaise2);
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color:transparent ;          
        }
        h1{
            top:160px;
            font-size: 2.5em;
            font-family: serif, Arial, Helvetica;
            color:$cleur_fransaise2;
        }
      
    }
}


.section2{
    display: flex;
    justify-content: space-around;
    a{text-decoration: none;}
    .section2-delicepapille{
        @extend %border;
        margin-left: 260px;
        transition: all 200ms ease-in-out ;
        &:hover{
            transform: scale(1.1);
            background-color:darken( white, 5);
        }
        .section2-delicepapille_paragraphe{
            @extend %paragraphe;
            top:160px;
            font-size: 2.5em;
            font-family:"dancing-script", 'Segoe UI', Tahoma, Verdana, sans-serif;
            background:linear-gradient(to right, $cleur_delice, $cleur_delice2);
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h1{
            top:140px;
            font-size: 2.5em;
            font-family: segoe, Arial, Helvetica, sans-serif;
            color: $cleur_delice2;
            
        }
    }

   
    .section2-palettegout{
        @extend %border;
        margin-right: 260px;
        transition: all 200ms ease-in-out ;
        &:hover{
            transform: scale(1.1);
            background-color:darken( white, 5);
        }
        .section2-palettegout_paragraphe{
            @extend %paragraphe;
            top:160px;
            font-size: 2.5em;
            font-family: "kaushan script", Tahoma, Verdana, sans-serif;
            background:linear-gradient(to right, $cleur_palette, $cleur_palette2);
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h1{
            top:140px;
            font-size: 2.5em;
            font-family: segoe, Arial, Helvetica, sans-serif;
            color:$cleur_delice2;
            
        }
    }
}






//fin menu principal



//début menu1






#bloc_page_menu1{
    background-color:  $font_main1;
}


.menu1-section1{
    text-align: center;
    margin-top: 20px;
    .image_note{
        width: 100px;
        height: 100px;
        margin-bottom: 0px;
        position: relative;
        -webkit-animation-name: dancing;
                animation-name: dancing;
       -webkit-animation-duration: 5s;
               animation-duration: 5s;
       -webkit-animation-timing-function: ease-in-out;
               animation-timing-function: ease-in-out;
       -webkit-animation-iteration-count: infinite;
               animation-iteration-count: infinite;
       @-webkit-keyframes dancing{
           0%{transform: scale(1);}
           25%{transform: scale(1.1);}
           50%{transform: scale(1);}
           75%{transform: scale(1.1);}
           100%{transform: scale(1);}
          
       }
       @keyframes dancing{
           0%{transform: scale(1);}
           25%{transform: scale(1.1);}
           50%{transform: scale(1);}
           75%{transform: scale(1.1);}
           100%{transform: scale(1);}
          
       }
    }
    h2{
        font-family: "Devonshire",  sans-serif;
        font-size:4em;
        margin-top: 0px;
        position: relative;
      
    }
   
}





.menu1-section2{
    font-family:$menu1-family;
    margin-bottom: 100px;
    h2{
        @extend %menu1-titre;
       position: relative;
       &::before{
        @extend %trait;
      }
      &::after{
          @extend %trait;
          left:785px;
      }
    }
.menu-preludes{
    
    .menu-prelude{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
        }
    }

}

}


.menu1-section3{
    font-family:$menu1-family;
    margin-bottom: 100px;
    h2{
        @extend %menu1-titre;
        position: relative;
        &::before{
            @extend %trait;
          }
          &::after{
              @extend %trait;
              left:785px;
          }
      
    }
.menu-point_orgue{
    
    .menu-orgue{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
        }
    }

}

}



.menu1-section4{
    font-family:$menu1-family;
    margin-bottom: 100px;
    h2{
        @extend %menu1-titre;
        position: relative;
        font-size: 1.9em;
        &::before{
            @extend %trait;
           
          }
          &::after{
              @extend %trait;
              left:785px;
          }
      
    }
.menu-mouvement_final{
    
    .menu-final{
      display: flex;
      flex-direction: column;
      list-style-type: none;
      font-size: 1.2em;
      margin-left: 300px;
      li{
          margin-top: 10px;
      }
       
    }

}

}




.footer{
    display: flex;
    margin-bottom: 50px;
    margin-left: 500px;
    .image_note{
        width: 40px;
        height: 40px;
        margin-bottom: 0px;
        position: relative;
        right: 10px;
        

    }
    h2{
        font-family: "Devonshire",  sans-serif;
        font-size:2.5em;
        margin-top: 0px;
    }
    }
//fin menu1




//début menu2


$cleur_francaise:#7f49fd;
$cleur_fransaise2:#ec7403;


#bloc_page_menu2{
    background-color: white;
}
.menu2-section1{
    text-align: center;
    margin-top: 20px;
   
    h2{
        font-family: "Devonshire",  sans-serif;
        font-size:3em;
        margin-bottom: 100px;
        font-family: "CroissantOne", Arial, sans-serif;
            background: linear-gradient(to left, $cleur_francaise, $cleur_fransaise2);
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color:transparent ; 
    }
   
}

.menu2-section2{
    font-family:sans-serif;
    margin-bottom: 100px;
    color: $cleur_fransaise2;
    h2{
        @extend %menu1-titre;
        font-size: 1.5em;
        font-weight: 100;
        padding-bottom: 50px;
        position: relative;
        color: $cleur_fransaise2;
        &::before{
            @extend %trait;
            width: 300px;
            height: 6px;
            left: 160px;
            top:10px;
            background-color:$cleur_fransaise2;
           
          }
          &::after{
              @extend %trait;
              left:750px;
              width: 300px;
              height: 6px;
              top:15px;
              background-color:$cleur_fransaise2;
          }
      
    }
.menu-pour_appetit{
    font-size: 1em;
    .menu-appetit{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
           font-size: 1em;
        }
    }

}

}


.menu2-section3{
    font-family:sans-serif;
    margin-bottom: 100px;
    color:$cleur_section3;
    h2{
        @extend %menu1-titre;
        font-weight: 100;
        font-size: 1.5em;
        margin-bottom: 50px;
        position: relative;
        color:$cleur_section3; 
        &::before{
            @extend %trait;
            width: 300px;
            height: 6px;
            left: 160px;
            top:10px;
            background-color:$cleur_section3;
           
          }
          &::after{
              @extend %trait;
              left:750px;
              width: 300px;
              height: 6px;
              top:15px;
              background-color:$cleur_section3;
          }
    }
.menu-plaisir_papille{
    
    .menu-plaisir{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
           font-size: 1em;
        }
    }

}

}


.menu2-section4{
    font-family:sans-serif;
    margin-bottom: 100px;
    position: relative;
    color:$cleur_section4;
    h2{
        @extend %menu1-titre;
       font-size: 1.5em;
       font-weight: 100;
       margin-bottom: 50px;
       color:$cleur_section4;
       &::before{
        @extend %trait;
        width: 300px;
        height: 6px;
        left: 160px;
        top:10px;
        background-color:$cleur_section4;
       
      }
      &::after{
          @extend %trait;
          left:750px;
          width: 300px;
          height: 6px;
          top:15px;
          background-color:$cleur_section4;
      }
    }
    .menu-gourmendise_sucrée{
    
        .menu-sucré{
          display: flex;
          flex-direction: column;
          list-style-type: none;
          font-size: 1.2em;
          margin-left: 300px;
          li{
              margin-top: 10px;
          }
           
        }
    
    }
    

}
//fin menu2


//debut menu 3

#bloc_page_menu3{
    background-color: rgb(236, 235, 233);
}
.menu3-section1{
    text-align: center;
    margin-top: 20px;
    
    h2{
        font-family: "Devonshire",  sans-serif;
        font-size:4em;
        margin-bottom: 100px;
        font-family:"dancing-script", 'Segoe UI', Tahoma, Verdana, sans-serif;
        background:linear-gradient(to right, $cleur_delice, $cleur_delice2);
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }
   
}

.menu3-section2{
    font-family:$menu1-family;
    margin-bottom: 100px;
    
    h2{
        @extend %menu1-titre;
        font-size: 1.5em;
        font-weight: 100;
        padding-bottom: 50px;
        position: relative;
        &::before{
            @extend %trait;
            width: 300px;
            height: 6px;
            left: 220px;
            top:10px;
            background-color:$cleur_delice;
           
          }
          &::after{
              @extend %trait;
              left:820px;
              width: 300px;
              height: 6px;
              top:15px;
              background-color:$cleur_delice;
          }
      
    }
.menu-bien_commence{
    font-size: 1em;
    .menu-commence{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
           font-size: 1em;
        }
    }

}

}


.menu3-section3{
    font-family:$menu1-family;
    margin-bottom: 100px;
    h2{
        @extend %menu1-titre;
        font-weight: 100;
        font-size: 1.5em;
        margin-bottom: 50px;
        position: relative;
        &::before{
            @extend %trait;
            width: 300px;
            height: 6px;
            left: 220px;
            top:10px;
            background-color:rgba(0, 102, 255, 0.8);
           
          }
          &::after{
              @extend %trait;
              left:820px;
              width: 300px;
              height: 6px;
              top:15px;
              background-color:rgba(0, 102, 255, 0.8);
          }
    }
.menu-bien_continuer{
    
    .menu-continuer{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
           font-size: 1em;
        }
    }

}

}

.menu3-section4{
    font-family:$menu1-family;
    margin-bottom: 100px;
    position: relative;
    h2{
        @extend %menu1-titre;
       font-size: 1.5em;
       font-weight: 100;
       margin-bottom: 50px;
       &::before{
        @extend %trait;
        width: 300px;
        height: 6px;
        left: 220px;
        top:10px;
        background-color:blue;
       
      }
      &::after{
          @extend %trait;
          left:820px;
          width: 300px;
          height: 6px;
          top:15px;
          background-color:blue;
      }
    }
    .menu-bien_terminer{
        .menu-terminer{
            @extend  %menu1-menu;
            .menu{
               @extend %menu-list;
            }
            .menu-prix{
               @extend %menu-prix;
               font-size: 1em;
            }
        }
    
    }

}


//fin menu
 //Début menu 4

 #bloc_page_menu4{
    background-color: white;
}
.menu4-section1{
    text-align: center;
    margin-top: 20px;
    
    h2{
        font-family: "kaushan script", Tahoma, Verdana, sans-serif;
        background:linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4em;
        margin-bottom: 100px;
    }
   
}

.menu4-section2{
    font-family:$menu1-family;
    margin-bottom: 100px;
    position: relative;
    
    h2{
        @extend %menu1-titre;
        font-size: 1.5em;
        font-weight: 100;
        padding-bottom: 50px;
        &::before{
            @extend %trait;
            width: 300px;
            height: 6px;
            left: 240px;
            top:10px;
            background:linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
           
          }
          &::after{
              @extend %trait;
              left:800px;
              width: 300px;
              height: 6px;
              top:15px;
              background:linear-gradient(to left, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
          }
      
    }
.menu-esquisse{
    font-size: 1em;
    .menu-liste{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
           font-size: 1.1em;
        }
    }

}

}


.menu4-section3{
    font-family:$menu1-family;
    margin-bottom: 100px;
    position: relative;
    h2{
        @extend %menu1-titre;
        font-weight: 100;
        font-size: 1.5em;
        margin-bottom: 50px;
        &::before{
            @extend %trait;
            width: 300px;
            height: 6px;
            left: 240px;
            top:10px;
            background:linear-gradient(to right, $cleur_delice, $cleur_delice2);
           
          }
          &::after{
              @extend %trait;
              left:800px;
              width: 300px;
              height: 6px;
              top:15px;
              background:linear-gradient(to left, $cleur_delice, $cleur_delice2);
          }
    }
.menu-oeuvre_maitre{
    
    .menu-maitre{
        @extend  %menu1-menu;
        .menu{
           @extend %menu-list;
        }
        .menu-prix{
           @extend %menu-prix;
           font-size: 1.5em;
        }
    }

}

}

.menu4-section4{
    font-family:$menu1-family;
    margin-bottom: 100px;
    h2{
        @extend %menu1-titre;
       font-size: 1.5em;
       font-weight: 100;
       margin-bottom: 50px;
       position: relative;
       &::before{
        @extend %trait;
        width: 300px;
        height: 6px;
        left: 240px;
        top:10px;
        background:linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
       
      }
      &::after{
          @extend %trait;
          left:800px;
          width: 300px;
          height: 6px;
          top:15px;
          background:linear-gradient(to left, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
      }
    }
    .menu-sommet_art{
        .menu-art{
            @extend  %menu1-menu;
            .menu{
               @extend %menu-list;
            }
            .menu-prix{
               @extend %menu-prix;
               font-size: 1.5em;
            }
        }
    
    }

}





//footer pour tous les menus
footer{
    display: flex;
    justify-content: space-between;
    background-color: $cd_font;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom:0px;
    font-size:1.5em;
    font-family: "MontserratRegular", Arial, sans-serif;
    font-weight: bold;
    .mention_legale{
        color:$cd_txt;
        position: relative;
        left: 20px;
        top:25px;
    }
    .contactez_nous{
        color:$cd_txt;
        position: relative;
        right:30px;
        top:25px;
    }
   
}









//media querie pour header et footer

@media screen and (max-width:1200px){
    #bloc_page{
        width: auto;
      }
}
@media screen and (max-width:550px){
    header{
       font-size: 0.6em;
       width: auto;
       height: 100px;
   
      }
}






@media screen and (max-width:500px){
    footer{
        width: 100%;
      position: fixed; 
      
      font-size: 1em;
      text-align: center;  
      .mention_legale{
         width: auto;
         position: static;
      }
      .contactez_nous{
                width: auto;
                position: static;
                margin-left: 10px;
                margin-right: 10px;
      }
    }
    header{
        width:100%;
    }
}



@media screen and (max-width:1025px){
    .mention_legale{
      margin-left:10px ;
        
         }
}



//@media menu principal

@media screen and (max-width:1025px){
    .section1{
        width: auto;
        display: block;
        .section1-note_enchantee{
            margin-left:300px ;
        }
        .section1-chic_francaise{
            margin-left: 300px;
        }
      }
    .section2{
        display: block;
        width: auto;
        .section2-delicepapille{
            margin-left:300px ;
        }
        .section2-palettegout{
            margin-left: 300px;
        }
    }
    
}


@media screen and (max-width:1025px){
    .section3{
      .btn{
          position: static;
          margin-left: 280px;
      }
        
         }
}


@media screen and (max-width:780px){
    .section1{
        width: auto;
        display: block;
        .section1-note_enchantee{
            margin-left:200px ;
        }
        .section1-chic_francaise{
            margin-left: 200px;
        }
      }
    .section2{
        display: block;
        width: auto;
        .section2-delicepapille{
            margin-left:200px ;
        }
        .section2-palettegout{
            margin-left: 200px;
        }
    }
    

    .section3{
        .btn{
            position: static;
            margin-left: 160px;
        }
          
           }

    
}




@media screen and (max-width:500px){
    .section1{
        width: auto;
        display: block;
        .section1-note_enchantee{
            margin-left:0px ;
           width: 300px;
        }
        .section1-chic_francaise{
            margin-left: 0px;
            width: 300px;
        }
      }
    .section2{
        display: block;
        width: auto;
        .section2-delicepapille{
            margin-left:0px ;
            width: 300px;
        }
        .section2-palettegout{
            margin-left: 0px;
            width: 300px;
        }
    }
    

    .section3{
        .btn{
            position: static;
            margin-left: 0px;
            padding-top: 7px;
            font-size: 1em;
            width: 150px;
            height: 30px;
           
        }
          
          }
    
}


//media queries menu 1

@media screen and (max-width:1200px){
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu1-section2{ 
     .menu-preludes{ 
       width: auto;
     .menu-prelude{
         display: block;
         .menu{
         
            margin-left: 90px;
             color: rgb(40, 11, 201);
             
         }
         .menu-prix{
             position: relative;
             margin-left: 700px;
             bottom: 20px;
             
         }
     }
     }
  }

  .menu1-section3{ 
    .menu-point_orgue{ 
      width: auto;
    .menu-orgue{
        display: block;
        .menu{
        
           margin-left: 90px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 700px;
            bottom: 20px;
            
        }
    }
    }
 }


 .menu1-section4{ 
    .menu-mouvement_final{ 
      width: auto;
  
    .menu-final{
     display: block;
        
    
    .menu{
      position: relative;
        color:rgb(3, 3, 202);
       margin-top: 1.5em;
       right: 200px;
      
    }
 }
 }
 
 }

 .footer{
     margin-left: 300px;
 }

 }




 
@media screen and (max-width:800px){
    .menu1-section1{
        .image_note{
            width: 50px;
            height: 50px;
        }
        .menu1-section1_titre{
            font-size: 2em;
        }
    }
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu1-section2{ 
     .menu-preludes{ 
       width: auto;
     .menu-prelude{
         display: block;
         .menu{
             font-size: 1.2em;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             width: 350px;
         }
         .menu-prix{
             position: relative;
             margin-left: 400px;
             bottom: 45px;
             
         }
     }
     }
  }

  .menu1-section3{ 
    .menu-point_orgue{ 
      width: auto;
    .menu-orgue{
        display: block;
        .menu{
           width: 350px;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 400px;
            bottom: 45px;
            
        }
    }
    }
 }


 .menu1-section4{ 
    .menu-mouvement_final{ 
      width: auto;
  
    .menu-final{
     margin-left: 0cm;
        
    
    .menu{
        position: static;
        color:rgb(3, 3, 202);
       margin-top: 1.5em;
       font-size: 1em;
       width: 350px;
      
      
    }
 }
 }
 
 }

 .footer{
     margin-left: 20px;
 }

 }





 
 @media screen and (max-width:550px){
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
          font-size: 1.3em;
      }
        
     }
    .menu1-section2{ 
     .menu-preludes{ 
       width: auto;
     .menu-prelude{
         display: block;
         .menu{
             font-size: 1em;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             width: 200px;
         }
         .menu-prix{
             position: relative;
             right: 150px;
             bottom: 35px;
             font-size: 0.9em;
         }
     }
     }
  }

  .menu1-section3{ 
    .menu-point_orgue{ 
      width: auto;
    .menu-orgue{
        display: block;
        .menu{
            font-size: 1em;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            width: 200px;
        }
        .menu-prix{
            position: relative;
            margin-left: 250px;
            bottom: 35px;
            font-size: 0.9em;
        }
    }
    }
 }


 .menu1-section4{ 
    .menu-mouvement_final{ 
      width: auto;
  
    .menu-final{
     margin-left: 0cm;
        
    
    .menu{
        position: static;
        color:rgb(3, 3, 202);
       margin-top: 1.5em;
       font-size: 0.8em;
       width: 270px;
      
      
    }
 }
 }
 
 }

 .footer{
     margin-left: 20px;
     font-size: 0.9em;
 }
 #bloc_page_menu1{
     background-color:#f7f4f4;
 }

 }



 //Responsive design menu 2




 @media screen and (max-width:1200px){
    .menu2-section2, .menu2-section3, .menu2-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
         
      }
        
     }
    .menu2-section2{ 
     .menu-pour_appetit{ 
       width: auto;
     .menu-appetit{
         display: block;
         .menu{
         
            margin-left: 90px;
             color: rgb(40, 11, 201);
             
         }
         .menu-prix{
             position: relative;
             margin-left: 700px;
             bottom: 20px;
             font-size: 1.2em;
             
         }
     }
     }
  }

  .menu2-section3{ 
    .menu-plaisir_papille{ 
      width: auto;
    .menu-plaisir{
        display: block;
        .menu{
        
           margin-left: 90px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 730px;
            bottom: 22px;
            font-size: 1.2em;
            
        }
    }
    }
 }


 .menu2-section4{ 
    .menu-gourmendise_sucrée{ 
      width: auto;
  
    .menu-sucré{
     display: block;
        
    
    .menu{
      position: relative;
        color:rgb(3, 3, 202);
       margin-top: 1.5em;
       right: 200px;
      
    }
 }
 }
 
 }

 }




 
@media screen and (max-width:800px){
    .menu2-section1{
       
        .menu2-section1_titre{
            font-size: 2em;
        }
    }
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu2-section2{ 
     .menu-pour_appetit{ 
       width: auto;
     .menu-appetit{
         display: block;
         .menu{
             font-size: 1.2em;
             width: 350px;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             
         }
         .menu-prix{
             position: relative;
             margin-left: 400px;
             bottom: 42px;
             
         }
     }
     }
  }

  .menu2-section3{ 
    .menu-plaisir_papille{ 
      width: auto;
    .menu-plaisir{
        display: block;
        .menu{
           width: 350px;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 400px;
            bottom: 42px;
            
        }
    }
    }
 }


 .menu2-section4{ 
    .menu-gourmendise_sucrée{ 
      width: auto;
  
    .menu-sucré{
     margin-left: 0cm;
        
    
    .menu{
        position: static;
        color:rgb(3, 3, 202);
       margin-top: 1.5em;
       font-size: 1em;
      
      
      
    }
 }
 }
 
 }


 }





 
 @media screen and (max-width:550px){
    .menu2-section2, .menu2-section3, .menu2-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
          font-size: 0.9em;
      }
        
     }
    .menu2-section2{ 
     .menu-pour_appetit{ 
       width: auto;
     .menu-appetit{
         display: block;
         .menu{
             font-size: 1em;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             width: 200px;
             
         }
         .menu-prix{
             position: relative;
             right: 150px;
             bottom: 20px;
             font-size: 0.9em;
             
         }
     }
     }
  }

  .menu2-section3{ 
    .menu-plaisir_papille{ 
      width: auto;
    .menu-plaisir{
        display: block;
        .menu{
            font-size: 1em;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            width: 200px;
        }
        .menu-prix{
            position: relative;
            margin-left: 250px;
            bottom: 40px;
            font-size: 0.9em;
        }
    }
    }
 }


 .menu2-section4{ 
    .menu-gourmendise_sucrée{ 
      width: auto;
  
    .menu-sucré{
     margin-left: 0cm;
        
    
    .menu{
        position: static;
        color:rgb(3, 3, 202);
       margin-top: 1.5em;
       font-size: 0.9em;
      width: 200px;
      
      
    }
 }
 }
 
 }


 }




 //media queri page 3



 
@media screen and (max-width:1200px){
    .menu3-section2, .menu3-section3, .menu3-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu3-section2{ 
     .menu-bien_commence{ 
       width: auto;
     .menu-commence{
         display: block;
         .menu{
         
            margin-left: 90px;
             color: rgb(40, 11, 201);
             
         }
         .menu-prix{
             font-size: 1em;
             position: relative;
             margin-left: 700px;
             bottom: 20px;
             
         }
     }
     }
  }

  .menu3-section3{ 
    .menu-bien_continuer{ 
      width: auto;
    .menu-continuer{
        display: block;
        .menu{
        
           margin-left: 90px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 700px;
            bottom: 20px;
            font-size: 1em;
        }
    }
    }
 }


 .menu3-section4{ 
    .menu-bien_terminer{ 
      width: auto;
  
      .menu-terminer{
        display: block;
        .menu{
        
           margin-left: 90px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 700px;
            bottom: 20px;
            font-size: 1em;
        }
    }
 }
 
 }

 
 }




 
@media screen and (max-width:850px){
    .menu3-section1{
        
        .menu3-section1_titre{
            font-size: 2em;
        }
    }
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu3-section2{ 
     .menu-bien_commence{ 
       width: auto;
     .menu-commence{
         display: block;
         .menu{
             font-size: 1.2em;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             width: 400px;
         }
         .menu-prix{
             position: relative;
             margin-left: 450px;
             bottom: 15px;
             
         }
     }
     }
  }

  .menu3-section3{ 
    .menu-bien_continuer{ 
      width: auto;
    .menu-continuer{
        display: block;
        .menu{
           width: 400px;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 450px;
            bottom: 15px;
            
        }
    }
    }
 }


 .menu3-section4{ 
    .menu-bien_terminer{ 
      width: auto;
  
      .menu-terminer{
        display: block;
        .menu{
           width: 350px;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 450px;
            bottom: 15px;
            font-size: 1em;
        }
    }
 }
 
 }

 }





 
 @media screen and (max-width:630px){
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu3-section2{ 
     .menu-bien_commence{ 
       width: auto;
     .menu-commence{
         display: block;
         .menu{
             font-size: 1em;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             width: 200px;
             
         }
         .menu-prix{
             position: relative;
             right: 200px;
             bottom: 30px;
             font-size: 0.9em;
             
         }
     }
     }
  }

  .menu3-section3{ 
    .menu-bien_continuer{ 
      width: auto;
    .menu-continuer{
        display: block;
        .menu{
            font-size: 1em;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            width: 200px;
        }
        .menu-prix{
            position: relative;
            margin-left: 250px;
            bottom: 30px;
            font-size: 0.9em;
        }
    }
    }
 }


 .menu3-section4{ 
    .menu-bien_terminer{ 
      width: auto;
  
      .menu-terminer{
        display: block;
        .menu{
        
           margin-left: 0px;
            color: rgb(40, 11, 201);
            width: 250px;
            font-size: 1em;
        }
        .menu-prix{
            position: relative;
            margin-left: 250px;
            bottom: 20px;
            font-size: 0.9em;
        }
    }
 }
 
 }

  #bloc_page_menu3{
      background-color: white;
  }
 }


 //media querie page4


 

 
@media screen and (max-width:1200px){
    .menu4-section2, .menu4-section3, .menu4-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu4-section2{ 
     .menu-esquisse{ 
       width: auto;
     .menu-liste{
         display: block;
         .menu{
         
            margin-left: 90px;
             color: rgb(40, 11, 201);
             
         }
         .menu-prix{
             font-size: 1em;
             position: relative;
             margin-left: 700px;
             bottom: 20px;
             
         }
     }
     }
  }

  .menu4-section3{ 
    .menu-oeuvre_maitre{ 
      width: auto;
    .menu-maitre{
        display: block;
        .menu{
        
           margin-left: 90px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 700px;
            bottom: 20px;
            font-size: 1em;
        }
    }
    }
 }


 .menu4-section4{ 
    .menu-sommet_art{ 
      width: auto;
  
      .menu-art{
        display: block;
        .menu{
        
           margin-left: 90px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 700px;
            bottom: 20px;
            font-size: 1em;
        }
    }
 }
 
 }

 
 }




 
@media screen and (max-width:830px){
    .menu4-section1{
        
        .menu4-section1_titre{
            font-size: 2em;
        }
    }
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu4-section2{ 
     .menu-esquisse{ 
       width: auto;
     .menu-liste{
         display: block;
         .menu{
             font-size: 1.2em;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             width: 350px;
         }
         .menu-prix{
             position: relative;
             margin-left: 400px;
             bottom: 25px;
             
         }
     }
     }
  }

  .menu4-section3{ 
    .menu-oeuvre_maitre{ 
      width: auto;
    .menu-maitre{
        display: block;
        .menu{
           width: 350px;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            
        }
        .menu-prix{
            position: relative;
            margin-left: 400px;
            bottom: 25px;
        }
    }
    }
 }


 .menu4-section4{ 
    .menu-sommet_art{ 
      width: auto;
  
      .menu-art{
        display: block;
        .menu{
        
           margin-left: 0px;
            color: rgb(40, 11, 201);
            width: 350px;
        }
        .menu-prix{
            position: relative;
            bottom: 25px;
            font-size: 1em;
            margin-left: 400px;
        }
    }
 }
 
 }

 }





 
 @media screen and (max-width:550px){
    .menu1-section2, .menu1-section3, .menu1-section4{
      h2{
        &::before{
            display: none;
          }
          &::after{
              display: none;
          }
      }
        
     }
    .menu4-section2{ 
     .menu-esquisse{ 
       width: auto;
     .menu-liste{
         display: block;
         .menu{
             font-size: 1em;
            margin-left: 0px;
             color: rgb(40, 11, 201);
             width: 200px;
         }
         .menu-prix{
             position: relative;
             right: 180px;
             bottom: 30px;
             font-size: 0.9em;
             
         }
     }
     }
  }

  .menu4-section3{ 
    .menu-oeuvre_maitre{ 
      width: auto;
    .menu-maitre{
        display: block;
        .menu{
            font-size: 1em;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            width: 200px;
        }
        .menu-prix{
            position: relative;
            margin-left: 230px;
            bottom: 30px;
            font-size: 0.9em;
        }
    }
    }
 }


 .menu4-section4{ 
    .menu-sommet_art{ 
      width: auto;
  
      .menu-art{
        display: block;
        .menu{
            font-size: 1em;
           margin-left: 0px;
            color: rgb(40, 11, 201);
            width: 200px;
        }
        .menu-prix{
            position: relative;
            margin-left: 200px;
            bottom: 30px;
            font-size: 0.9em;
        }
    }
 }
 
 }


 }






