@charset "UTF-8";
.section1 .section1-note_enchantee, .section1 .section1-chic_francaise, .section2 .section2-delicepapille, .section2 .section2-palettegout {
  border: 1px silver solid;
  -webkit-box-shadow: 2px 2px 10px silver;
          box-shadow: 2px 2px 10px silver;
  width: 350px;
  height: 500px;
  text-align: center;
  margin-top: 80px;
}

.section1 .section1-note_enchantee .section1-note_enchantee_paragraphe, .section1 .section1-chic_francaise .section1-chicfrancaise_paragraphe, .section2 .section2-delicepapille .section2-delicepapille_paragraphe, .section2 .section2-palettegout .section2-palettegout_paragraphe {
  position: relative;
  top: 135px;
  font-size: 1.5em;
  text-decoration: none;
}

.menu1-section2 h2, .menu1-section3 h2, .menu1-section4 h2, .menu2-section2 h2, .menu2-section3 h2, .menu2-section4 h2, .menu3-section2 h2, .menu3-section3 h2, .menu3-section4 h2, .menu4-section2 h2, .menu4-section3 h2, .menu4-section4 h2 {
  text-align: center;
  font-size: 2em;
  color: black;
}

.menu1-section2 .menu-preludes .menu-prelude, .menu1-section3 .menu-point_orgue .menu-orgue, .menu2-section2 .menu-pour_appetit .menu-appetit, .menu2-section3 .menu-plaisir_papille .menu-plaisir, .menu3-section2 .menu-bien_commence .menu-commence, .menu3-section3 .menu-bien_continuer .menu-continuer, .menu3-section4 .menu-bien_terminer .menu-terminer, .menu4-section2 .menu-esquisse .menu-liste, .menu4-section3 .menu-oeuvre_maitre .menu-maitre, .menu4-section4 .menu-sommet_art .menu-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu1-section2 .menu-preludes .menu-prelude .menu, .menu1-section3 .menu-point_orgue .menu-orgue .menu, .menu2-section2 .menu-pour_appetit .menu-appetit .menu, .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu, .menu3-section2 .menu-bien_commence .menu-commence .menu, .menu3-section3 .menu-bien_continuer .menu-continuer .menu, .menu3-section4 .menu-bien_terminer .menu-terminer .menu, .menu4-section2 .menu-esquisse .menu-liste .menu, .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu, .menu4-section4 .menu-sommet_art .menu-art .menu {
  margin-left: 300px;
  font-size: 1.2em;
}

.menu1-section2 .menu-preludes .menu-prelude .menu-prix, .menu1-section3 .menu-point_orgue .menu-orgue .menu-prix, .menu2-section2 .menu-pour_appetit .menu-appetit .menu-prix, .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu-prix, .menu3-section2 .menu-bien_commence .menu-commence .menu-prix, .menu3-section3 .menu-bien_continuer .menu-continuer .menu-prix, .menu3-section4 .menu-bien_terminer .menu-terminer .menu-prix, .menu4-section2 .menu-esquisse .menu-liste .menu-prix, .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu-prix, .menu4-section4 .menu-sommet_art .menu-art .menu-prix {
  margin-right: 350px;
}

.menu1-section2 h2::before, .menu1-section2 h2::after, .menu1-section3 h2::before, .menu1-section3 h2::after, .menu1-section4 h2::before, .menu1-section4 h2::after, .menu2-section2 h2::before, .menu2-section2 h2::after, .menu2-section3 h2::before, .menu2-section3 h2::after, .menu2-section4 h2::before, .menu2-section4 h2::after, .menu3-section2 h2::before, .menu3-section2 h2::after, .menu3-section3 h2::before, .menu3-section3 h2::after, .menu3-section4 h2::before, .menu3-section4 h2::after, .menu4-section2 h2::before, .menu4-section2 h2::after, .menu4-section3 h2::before, .menu4-section3 h2::after, .menu4-section4 h2::before, .menu4-section4 h2::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 10px;
  top: 20px;
  left: 345px;
  background-color: black;
  display: inline-block;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  src: url("fonts/Montserrat-Regular.otf") format("opentype");
  src: url("fonts/Montserrat-Regular.eot");
  src: url("fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "CroissantOne";
  src: url("fonts/CroissantOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Montserrat-Medium.ttf") format("truetype");
  src: url("fonts/Montserrat-Medium.otf") format("opentype");
  src: url("fonts/Montserrat-Medium.eot");
  src: url("fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "MontserratSemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
  src: url("fonts/Montserrat-SemiBold.otf") format("opentype");
  src: url("fonts/Montserrat-SemiBold.eot");
  src: url("fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "nimbus_bold";
  src: url("fonts/NimbusRomNo9LBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nimbus_regular";
  src: url("fonts/NimbusRomNo9L.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  src: url("fonts/segoeprb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dancing-script";
  src: url("fonts/dancing-script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courgette";
  src: url("fonts/Courgette-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.section3 {
  margin-bottom: 200px;
}

.section3 .btn {
  border: 1px green solid;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  position: relative;
  margin-top: 90px;
  text-align: center;
  margin-left: 450px;
  font-size: 2em;
  padding: 5px;
  background-color: #57a089;
  color: #ddc03c;
  font-family: MontserratMedium, Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section3 .btn:hover {
  -webkit-box-shadow: 5px 5px 12px black;
          box-shadow: 5px 5px 12px black;
  background-color: #4e8f7b;
}

/*body et block de page*/
#bloc_page {
  width: 1340px;
}

/*variable*/
/*header*/
header {
  text-align: center;
  background-color: #57a089;
  height: 140px;
}

header strong {
  font-family: "MontserratExtraBold",  sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  position: relative;
  top: 30px;
  color: yellowgreen;
  -webkit-animation-name: changement-couleur;
  animation-name: changement-couleur;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes changement-couleur {
  0% {
    color: yellowgreen;
  }
  25% {
    color: #98dd0e;
  }
  50% {
    color: #b2e205;
  }
  75% {
    color: yellow;
  }
  100% {
    color: #ddc03c;
  }
}

@keyframes changement-couleur {
  0% {
    color: yellowgreen;
  }
  25% {
    color: #98dd0e;
  }
  50% {
    color: #b2e205;
  }
  75% {
    color: yellow;
  }
  100% {
    color: #ddc03c;
  }
}

@media screen and (max-width: 1024px) {
  header {
    width: auto;
    text-align: center;
  }
}

/*titres*/
h1 {
  position: relative;
  top: 100px;
}

/*section1*/
.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section1 a {
  text-decoration: none;
}

.section1 .section1-note_enchantee {
  background-color: #fdd7df;
  margin-left: 250px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section1 .section1-note_enchantee:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fcbfcc;
}

.section1 .section1-note_enchantee .image_note {
  position: relative;
  top: 180px;
  width: 50px;
  height: 50px;
}

.section1 .section1-note_enchantee .section1-note_enchantee_paragraphe {
  font-family: "Devonshire",  sans-serif;
  color: #3a3636;
  font-size: 2em;
}

.section1 .section1-note_enchantee h1 {
  font-family: 'Segoe', Tahoma,  Verdana, sans-serif;
  color: #353535;
  font-size: 2.5em;
}

.section1 .section1-chic_francaise {
  margin-right: 250px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-color: #faf3f3;
}

.section1 .section1-chic_francaise:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f2f2f2;
}

.section1 .section1-chic_francaise .section1-chicfrancaise_paragraphe {
  top: 180px;
  font-family: "CroissantOne", Arial, sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#7f49fd), to(#ec7403));
  background: linear-gradient(to left, #7f49fd, #ec7403);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1 .section1-chic_francaise h1 {
  top: 160px;
  font-size: 2.5em;
  font-family: serif, Arial, Helvetica;
  color: #ec7403;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section2 a {
  text-decoration: none;
}

.section2 .section2-delicepapille {
  margin-left: 260px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section2 .section2-delicepapille:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f2f2f2;
}

.section2 .section2-delicepapille .section2-delicepapille_paragraphe {
  top: 160px;
  font-size: 2.5em;
  font-family: "dancing-script", 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0302ca), to(#17bfe9));
  background: linear-gradient(to right, #0302ca, #17bfe9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2 .section2-delicepapille h1 {
  top: 140px;
  font-size: 2.5em;
  font-family: segoe, Arial, Helvetica, sans-serif;
  color: #17bfe9;
}

.section2 .section2-palettegout {
  margin-right: 260px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.section2 .section2-palettegout:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f2f2f2;
}

.section2 .section2-palettegout .section2-palettegout_paragraphe {
  top: 160px;
  font-size: 2.5em;
  font-family: "kaushan script", Tahoma, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(RGBa(70, 202, 70, 1)), to(RGBa(70, 202, 70, 0.4)));
  background: linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section2 .section2-palettegout h1 {
  top: 140px;
  font-size: 2.5em;
  font-family: segoe, Arial, Helvetica, sans-serif;
  color: #17bfe9;
}

#bloc_page_menu1 {
  background-color: #fdd7df;
}

.menu1-section1 {
  text-align: center;
  margin-top: 20px;
}

.menu1-section1 .image_note {
  width: 100px;
  height: 100px;
  margin-bottom: 0px;
  position: relative;
  -webkit-animation-name: dancing;
  animation-name: dancing;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes dancing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dancing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu1-section1 h2 {
  font-family: "Devonshire",  sans-serif;
  font-size: 4em;
  margin-top: 0px;
  position: relative;
}

.menu1-section2 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu1-section2 h2 {
  position: relative;
}

.menu1-section2 h2::after {
  left: 785px;
}

.menu1-section3 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu1-section3 h2 {
  position: relative;
}

.menu1-section3 h2::after {
  left: 785px;
}

.menu1-section4 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu1-section4 h2 {
  position: relative;
  font-size: 1.9em;
}

.menu1-section4 h2::after {
  left: 785px;
}

.menu1-section4 .menu-mouvement_final .menu-final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  font-size: 1.2em;
  margin-left: 300px;
}

.menu1-section4 .menu-mouvement_final .menu-final li {
  margin-top: 10px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  margin-left: 500px;
}

.footer .image_note {
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  position: relative;
  right: 10px;
}

.footer h2 {
  font-family: "Devonshire",  sans-serif;
  font-size: 2.5em;
  margin-top: 0px;
}

#bloc_page_menu2 {
  background-color: white;
}

.menu2-section1 {
  text-align: center;
  margin-top: 20px;
}

.menu2-section1 h2 {
  font-family: "Devonshire",  sans-serif;
  font-size: 3em;
  margin-bottom: 100px;
  font-family: "CroissantOne", Arial, sans-serif;
  background: -webkit-gradient(linear, right top, left top, from(#7f49fd), to(#ec7403));
  background: linear-gradient(to left, #7f49fd, #ec7403);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2-section2 {
  font-family: sans-serif;
  margin-bottom: 100px;
  color: #ec7403;
}

.menu2-section2 h2 {
  font-size: 1.5em;
  font-weight: 100;
  padding-bottom: 50px;
  position: relative;
  color: #ec7403;
}

.menu2-section2 h2::before {
  width: 300px;
  height: 6px;
  left: 160px;
  top: 10px;
  background-color: #ec7403;
}

.menu2-section2 h2::after {
  left: 750px;
  width: 300px;
  height: 6px;
  top: 15px;
  background-color: #ec7403;
}

.menu2-section2 .menu-pour_appetit {
  font-size: 1em;
}

.menu2-section2 .menu-pour_appetit .menu-appetit .menu-prix {
  font-size: 1em;
}

.menu2-section3 {
  font-family: sans-serif;
  margin-bottom: 100px;
  color: #ad19ca;
}

.menu2-section3 h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 50px;
  position: relative;
  color: #ad19ca;
}

.menu2-section3 h2::before {
  width: 300px;
  height: 6px;
  left: 160px;
  top: 10px;
  background-color: #ad19ca;
}

.menu2-section3 h2::after {
  left: 750px;
  width: 300px;
  height: 6px;
  top: 15px;
  background-color: #ad19ca;
}

.menu2-section3 .menu-plaisir_papille .menu-plaisir .menu-prix {
  font-size: 1em;
}

.menu2-section4 {
  font-family: sans-serif;
  margin-bottom: 100px;
  position: relative;
  color: #6b0ce7;
}

.menu2-section4 h2 {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 50px;
  color: #6b0ce7;
}

.menu2-section4 h2::before {
  width: 300px;
  height: 6px;
  left: 160px;
  top: 10px;
  background-color: #6b0ce7;
}

.menu2-section4 h2::after {
  left: 750px;
  width: 300px;
  height: 6px;
  top: 15px;
  background-color: #6b0ce7;
}

.menu2-section4 .menu-gourmendise_sucrée .menu-sucré {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  font-size: 1.2em;
  margin-left: 300px;
}

.menu2-section4 .menu-gourmendise_sucrée .menu-sucré li {
  margin-top: 10px;
}

#bloc_page_menu3 {
  background-color: #ecebe9;
}

.menu3-section1 {
  text-align: center;
  margin-top: 20px;
}

.menu3-section1 h2 {
  font-family: "Devonshire",  sans-serif;
  font-size: 4em;
  margin-bottom: 100px;
  font-family: "dancing-script", 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#0302ca), to(#17bfe9));
  background: linear-gradient(to right, #0302ca, #17bfe9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3-section2 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu3-section2 h2 {
  font-size: 1.5em;
  font-weight: 100;
  padding-bottom: 50px;
  position: relative;
}

.menu3-section2 h2::before {
  width: 300px;
  height: 6px;
  left: 220px;
  top: 10px;
  background-color: #0302ca;
}

.menu3-section2 h2::after {
  left: 820px;
  width: 300px;
  height: 6px;
  top: 15px;
  background-color: #0302ca;
}

.menu3-section2 .menu-bien_commence {
  font-size: 1em;
}

.menu3-section2 .menu-bien_commence .menu-commence .menu-prix {
  font-size: 1em;
}

.menu3-section3 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu3-section3 h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 50px;
  position: relative;
}

.menu3-section3 h2::before {
  width: 300px;
  height: 6px;
  left: 220px;
  top: 10px;
  background-color: rgba(0, 102, 255, 0.8);
}

.menu3-section3 h2::after {
  left: 820px;
  width: 300px;
  height: 6px;
  top: 15px;
  background-color: rgba(0, 102, 255, 0.8);
}

.menu3-section3 .menu-bien_continuer .menu-continuer .menu-prix {
  font-size: 1em;
}

.menu3-section4 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
  position: relative;
}

.menu3-section4 h2 {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 50px;
}

.menu3-section4 h2::before {
  width: 300px;
  height: 6px;
  left: 220px;
  top: 10px;
  background-color: blue;
}

.menu3-section4 h2::after {
  left: 820px;
  width: 300px;
  height: 6px;
  top: 15px;
  background-color: blue;
}

.menu3-section4 .menu-bien_terminer .menu-terminer .menu-prix {
  font-size: 1em;
}

#bloc_page_menu4 {
  background-color: white;
}

.menu4-section1 {
  text-align: center;
  margin-top: 20px;
}

.menu4-section1 h2 {
  font-family: "kaushan script", Tahoma, Verdana, sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(RGBa(70, 202, 70, 1)), to(RGBa(70, 202, 70, 0.4)));
  background: linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  margin-bottom: 100px;
}

.menu4-section2 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
  position: relative;
}

.menu4-section2 h2 {
  font-size: 1.5em;
  font-weight: 100;
  padding-bottom: 50px;
}

.menu4-section2 h2::before {
  width: 300px;
  height: 6px;
  left: 240px;
  top: 10px;
  background: -webkit-gradient(linear, left top, right top, from(RGBa(70, 202, 70, 1)), to(RGBa(70, 202, 70, 0.4)));
  background: linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
}

.menu4-section2 h2::after {
  left: 800px;
  width: 300px;
  height: 6px;
  top: 15px;
  background: -webkit-gradient(linear, right top, left top, from(RGBa(70, 202, 70, 1)), to(RGBa(70, 202, 70, 0.4)));
  background: linear-gradient(to left, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
}

.menu4-section2 .menu-esquisse {
  font-size: 1em;
}

.menu4-section2 .menu-esquisse .menu-liste .menu-prix {
  font-size: 1.1em;
}

.menu4-section3 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
  position: relative;
}

.menu4-section3 h2 {
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 50px;
}

.menu4-section3 h2::before {
  width: 300px;
  height: 6px;
  left: 240px;
  top: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#0302ca), to(#17bfe9));
  background: linear-gradient(to right, #0302ca, #17bfe9);
}

.menu4-section3 h2::after {
  left: 800px;
  width: 300px;
  height: 6px;
  top: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#0302ca), to(#17bfe9));
  background: linear-gradient(to left, #0302ca, #17bfe9);
}

.menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu-prix {
  font-size: 1.5em;
}

.menu4-section4 {
  font-family: "courgette", sans-serif;
  margin-bottom: 100px;
}

.menu4-section4 h2 {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 50px;
  position: relative;
}

.menu4-section4 h2::before {
  width: 300px;
  height: 6px;
  left: 240px;
  top: 10px;
  background: -webkit-gradient(linear, left top, right top, from(RGBa(70, 202, 70, 1)), to(RGBa(70, 202, 70, 0.4)));
  background: linear-gradient(to right, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
}

.menu4-section4 h2::after {
  left: 800px;
  width: 300px;
  height: 6px;
  top: 15px;
  background: -webkit-gradient(linear, right top, left top, from(RGBa(70, 202, 70, 1)), to(RGBa(70, 202, 70, 0.4)));
  background: linear-gradient(to left, RGBa(70, 202, 70, 1), RGBa(70, 202, 70, 0.4));
}

.menu4-section4 .menu-sommet_art .menu-art .menu-prix {
  font-size: 1.5em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #57a089;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 1.5em;
  font-family: "MontserratRegular", Arial, sans-serif;
  font-weight: bold;
}

footer .mention_legale {
  color: #ddc03c;
  position: relative;
  left: 20px;
  top: 25px;
}

footer .contactez_nous {
  color: #ddc03c;
  position: relative;
  right: 30px;
  top: 25px;
}

@media screen and (max-width: 1200px) {
  #bloc_page {
    width: auto;
  }
}

@media screen and (max-width: 550px) {
  header {
    font-size: 0.6em;
    width: auto;
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  footer {
    width: 100%;
    position: fixed;
    font-size: 1em;
    text-align: center;
  }
  footer .mention_legale {
    width: auto;
    position: static;
  }
  footer .contactez_nous {
    width: auto;
    position: static;
    margin-left: 10px;
    margin-right: 10px;
  }
  header {
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .mention_legale {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1025px) {
  .section1 {
    width: auto;
    display: block;
  }
  .section1 .section1-note_enchantee {
    margin-left: 300px;
  }
  .section1 .section1-chic_francaise {
    margin-left: 300px;
  }
  .section2 {
    display: block;
    width: auto;
  }
  .section2 .section2-delicepapille {
    margin-left: 300px;
  }
  .section2 .section2-palettegout {
    margin-left: 300px;
  }
}

@media screen and (max-width: 1025px) {
  .section3 .btn {
    position: static;
    margin-left: 280px;
  }
}

@media screen and (max-width: 780px) {
  .section1 {
    width: auto;
    display: block;
  }
  .section1 .section1-note_enchantee {
    margin-left: 200px;
  }
  .section1 .section1-chic_francaise {
    margin-left: 200px;
  }
  .section2 {
    display: block;
    width: auto;
  }
  .section2 .section2-delicepapille {
    margin-left: 200px;
  }
  .section2 .section2-palettegout {
    margin-left: 200px;
  }
  .section3 .btn {
    position: static;
    margin-left: 160px;
  }
}

@media screen and (max-width: 500px) {
  .section1 {
    width: auto;
    display: block;
  }
  .section1 .section1-note_enchantee {
    margin-left: 0px;
    width: 300px;
  }
  .section1 .section1-chic_francaise {
    margin-left: 0px;
    width: 300px;
  }
  .section2 {
    display: block;
    width: auto;
  }
  .section2 .section2-delicepapille {
    margin-left: 0px;
    width: 300px;
  }
  .section2 .section2-palettegout {
    margin-left: 0px;
    width: 300px;
  }
  .section3 .btn {
    position: static;
    margin-left: 0px;
    padding-top: 7px;
    font-size: 1em;
    width: 150px;
    height: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu1-section2 .menu-preludes {
    width: auto;
  }
  .menu1-section2 .menu-preludes .menu-prelude {
    display: block;
  }
  .menu1-section2 .menu-preludes .menu-prelude .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu1-section2 .menu-preludes .menu-prelude .menu-prix {
    position: relative;
    margin-left: 700px;
    bottom: 20px;
  }
  .menu1-section3 .menu-point_orgue {
    width: auto;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue {
    display: block;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue .menu-prix {
    position: relative;
    margin-left: 700px;
    bottom: 20px;
  }
  .menu1-section4 .menu-mouvement_final {
    width: auto;
  }
  .menu1-section4 .menu-mouvement_final .menu-final {
    display: block;
  }
  .menu1-section4 .menu-mouvement_final .menu-final .menu {
    position: relative;
    color: #0303ca;
    margin-top: 1.5em;
    right: 200px;
  }
  .footer {
    margin-left: 300px;
  }
}

@media screen and (max-width: 800px) {
  .menu1-section1 .image_note {
    width: 50px;
    height: 50px;
  }
  .menu1-section1 .menu1-section1_titre {
    font-size: 2em;
  }
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu1-section2 .menu-preludes {
    width: auto;
  }
  .menu1-section2 .menu-preludes .menu-prelude {
    display: block;
  }
  .menu1-section2 .menu-preludes .menu-prelude .menu {
    font-size: 1.2em;
    margin-left: 0px;
    color: #280bc9;
    width: 350px;
  }
  .menu1-section2 .menu-preludes .menu-prelude .menu-prix {
    position: relative;
    margin-left: 400px;
    bottom: 45px;
  }
  .menu1-section3 .menu-point_orgue {
    width: auto;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue {
    display: block;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue .menu {
    width: 350px;
    margin-left: 0px;
    color: #280bc9;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue .menu-prix {
    position: relative;
    margin-left: 400px;
    bottom: 45px;
  }
  .menu1-section4 .menu-mouvement_final {
    width: auto;
  }
  .menu1-section4 .menu-mouvement_final .menu-final {
    margin-left: 0cm;
  }
  .menu1-section4 .menu-mouvement_final .menu-final .menu {
    position: static;
    color: #0303ca;
    margin-top: 1.5em;
    font-size: 1em;
    width: 350px;
  }
  .footer {
    margin-left: 20px;
  }
}

@media screen and (max-width: 550px) {
  .menu1-section2 h2, .menu1-section3 h2, .menu1-section4 h2 {
    font-size: 1.3em;
  }
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu1-section2 .menu-preludes {
    width: auto;
  }
  .menu1-section2 .menu-preludes .menu-prelude {
    display: block;
  }
  .menu1-section2 .menu-preludes .menu-prelude .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu1-section2 .menu-preludes .menu-prelude .menu-prix {
    position: relative;
    right: 150px;
    bottom: 35px;
    font-size: 0.9em;
  }
  .menu1-section3 .menu-point_orgue {
    width: auto;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue {
    display: block;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu1-section3 .menu-point_orgue .menu-orgue .menu-prix {
    position: relative;
    margin-left: 250px;
    bottom: 35px;
    font-size: 0.9em;
  }
  .menu1-section4 .menu-mouvement_final {
    width: auto;
  }
  .menu1-section4 .menu-mouvement_final .menu-final {
    margin-left: 0cm;
  }
  .menu1-section4 .menu-mouvement_final .menu-final .menu {
    position: static;
    color: #0303ca;
    margin-top: 1.5em;
    font-size: 0.8em;
    width: 270px;
  }
  .footer {
    margin-left: 20px;
    font-size: 0.9em;
  }
  #bloc_page_menu1 {
    background-color: #f7f4f4;
  }
}

@media screen and (max-width: 1200px) {
  .menu2-section2 h2::before, .menu2-section3 h2::before, .menu2-section4 h2::before {
    display: none;
  }
  .menu2-section2 h2::after, .menu2-section3 h2::after, .menu2-section4 h2::after {
    display: none;
  }
  .menu2-section2 .menu-pour_appetit {
    width: auto;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit {
    display: block;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit .menu-prix {
    position: relative;
    margin-left: 700px;
    bottom: 20px;
    font-size: 1.2em;
  }
  .menu2-section3 .menu-plaisir_papille {
    width: auto;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir {
    display: block;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu-prix {
    position: relative;
    margin-left: 730px;
    bottom: 22px;
    font-size: 1.2em;
  }
  .menu2-section4 .menu-gourmendise_sucrée {
    width: auto;
  }
  .menu2-section4 .menu-gourmendise_sucrée .menu-sucré {
    display: block;
  }
  .menu2-section4 .menu-gourmendise_sucrée .menu-sucré .menu {
    position: relative;
    color: #0303ca;
    margin-top: 1.5em;
    right: 200px;
  }
}

@media screen and (max-width: 800px) {
  .menu2-section1 .menu2-section1_titre {
    font-size: 2em;
  }
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu2-section2 .menu-pour_appetit {
    width: auto;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit {
    display: block;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit .menu {
    font-size: 1.2em;
    width: 350px;
    margin-left: 0px;
    color: #280bc9;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit .menu-prix {
    position: relative;
    margin-left: 400px;
    bottom: 42px;
  }
  .menu2-section3 .menu-plaisir_papille {
    width: auto;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir {
    display: block;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu {
    width: 350px;
    margin-left: 0px;
    color: #280bc9;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu-prix {
    position: relative;
    margin-left: 400px;
    bottom: 42px;
  }
  .menu2-section4 .menu-gourmendise_sucrée {
    width: auto;
  }
  .menu2-section4 .menu-gourmendise_sucrée .menu-sucré {
    margin-left: 0cm;
  }
  .menu2-section4 .menu-gourmendise_sucrée .menu-sucré .menu {
    position: static;
    color: #0303ca;
    margin-top: 1.5em;
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  .menu2-section2 h2, .menu2-section3 h2, .menu2-section4 h2 {
    font-size: 0.9em;
  }
  .menu2-section2 h2::before, .menu2-section3 h2::before, .menu2-section4 h2::before {
    display: none;
  }
  .menu2-section2 h2::after, .menu2-section3 h2::after, .menu2-section4 h2::after {
    display: none;
  }
  .menu2-section2 .menu-pour_appetit {
    width: auto;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit {
    display: block;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu2-section2 .menu-pour_appetit .menu-appetit .menu-prix {
    position: relative;
    right: 150px;
    bottom: 20px;
    font-size: 0.9em;
  }
  .menu2-section3 .menu-plaisir_papille {
    width: auto;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir {
    display: block;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu2-section3 .menu-plaisir_papille .menu-plaisir .menu-prix {
    position: relative;
    margin-left: 250px;
    bottom: 40px;
    font-size: 0.9em;
  }
  .menu2-section4 .menu-gourmendise_sucrée {
    width: auto;
  }
  .menu2-section4 .menu-gourmendise_sucrée .menu-sucré {
    margin-left: 0cm;
  }
  .menu2-section4 .menu-gourmendise_sucrée .menu-sucré .menu {
    position: static;
    color: #0303ca;
    margin-top: 1.5em;
    font-size: 0.9em;
    width: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .menu3-section2 h2::before, .menu3-section3 h2::before, .menu3-section4 h2::before {
    display: none;
  }
  .menu3-section2 h2::after, .menu3-section3 h2::after, .menu3-section4 h2::after {
    display: none;
  }
  .menu3-section2 .menu-bien_commence {
    width: auto;
  }
  .menu3-section2 .menu-bien_commence .menu-commence {
    display: block;
  }
  .menu3-section2 .menu-bien_commence .menu-commence .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu3-section2 .menu-bien_commence .menu-commence .menu-prix {
    font-size: 1em;
    position: relative;
    margin-left: 700px;
    bottom: 20px;
  }
  .menu3-section3 .menu-bien_continuer {
    width: auto;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer {
    display: block;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer .menu-prix {
    position: relative;
    margin-left: 700px;
    bottom: 20px;
    font-size: 1em;
  }
  .menu3-section4 .menu-bien_terminer {
    width: auto;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer {
    display: block;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer .menu-prix {
    position: relative;
    margin-left: 700px;
    bottom: 20px;
    font-size: 1em;
  }
}

@media screen and (max-width: 850px) {
  .menu3-section1 .menu3-section1_titre {
    font-size: 2em;
  }
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu3-section2 .menu-bien_commence {
    width: auto;
  }
  .menu3-section2 .menu-bien_commence .menu-commence {
    display: block;
  }
  .menu3-section2 .menu-bien_commence .menu-commence .menu {
    font-size: 1.2em;
    margin-left: 0px;
    color: #280bc9;
    width: 400px;
  }
  .menu3-section2 .menu-bien_commence .menu-commence .menu-prix {
    position: relative;
    margin-left: 450px;
    bottom: 15px;
  }
  .menu3-section3 .menu-bien_continuer {
    width: auto;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer {
    display: block;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer .menu {
    width: 400px;
    margin-left: 0px;
    color: #280bc9;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer .menu-prix {
    position: relative;
    margin-left: 450px;
    bottom: 15px;
  }
  .menu3-section4 .menu-bien_terminer {
    width: auto;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer {
    display: block;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer .menu {
    width: 350px;
    margin-left: 0px;
    color: #280bc9;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer .menu-prix {
    position: relative;
    margin-left: 450px;
    bottom: 15px;
    font-size: 1em;
  }
}

@media screen and (max-width: 630px) {
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu3-section2 .menu-bien_commence {
    width: auto;
  }
  .menu3-section2 .menu-bien_commence .menu-commence {
    display: block;
  }
  .menu3-section2 .menu-bien_commence .menu-commence .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu3-section2 .menu-bien_commence .menu-commence .menu-prix {
    position: relative;
    right: 200px;
    bottom: 30px;
    font-size: 0.9em;
  }
  .menu3-section3 .menu-bien_continuer {
    width: auto;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer {
    display: block;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu3-section3 .menu-bien_continuer .menu-continuer .menu-prix {
    position: relative;
    margin-left: 250px;
    bottom: 30px;
    font-size: 0.9em;
  }
  .menu3-section4 .menu-bien_terminer {
    width: auto;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer {
    display: block;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer .menu {
    margin-left: 0px;
    color: #280bc9;
    width: 250px;
    font-size: 1em;
  }
  .menu3-section4 .menu-bien_terminer .menu-terminer .menu-prix {
    position: relative;
    margin-left: 250px;
    bottom: 20px;
    font-size: 0.9em;
  }
  #bloc_page_menu3 {
    background-color: white;
  }
}

@media screen and (max-width: 1200px) {
  .menu4-section2 h2::before, .menu4-section3 h2::before, .menu4-section4 h2::before {
    display: none;
  }
  .menu4-section2 h2::after, .menu4-section3 h2::after, .menu4-section4 h2::after {
    display: none;
  }
  .menu4-section2 .menu-esquisse {
    width: auto;
  }
  .menu4-section2 .menu-esquisse .menu-liste {
    display: block;
  }
  .menu4-section2 .menu-esquisse .menu-liste .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu4-section2 .menu-esquisse .menu-liste .menu-prix {
    font-size: 1em;
    position: relative;
    margin-left: 700px;
    bottom: 20px;
  }
  .menu4-section3 .menu-oeuvre_maitre {
    width: auto;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre {
    display: block;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu-prix {
    position: relative;
    margin-left: 700px;
    bottom: 20px;
    font-size: 1em;
  }
  .menu4-section4 .menu-sommet_art {
    width: auto;
  }
  .menu4-section4 .menu-sommet_art .menu-art {
    display: block;
  }
  .menu4-section4 .menu-sommet_art .menu-art .menu {
    margin-left: 90px;
    color: #280bc9;
  }
  .menu4-section4 .menu-sommet_art .menu-art .menu-prix {
    position: relative;
    margin-left: 700px;
    bottom: 20px;
    font-size: 1em;
  }
}

@media screen and (max-width: 830px) {
  .menu4-section1 .menu4-section1_titre {
    font-size: 2em;
  }
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu4-section2 .menu-esquisse {
    width: auto;
  }
  .menu4-section2 .menu-esquisse .menu-liste {
    display: block;
  }
  .menu4-section2 .menu-esquisse .menu-liste .menu {
    font-size: 1.2em;
    margin-left: 0px;
    color: #280bc9;
    width: 350px;
  }
  .menu4-section2 .menu-esquisse .menu-liste .menu-prix {
    position: relative;
    margin-left: 400px;
    bottom: 25px;
  }
  .menu4-section3 .menu-oeuvre_maitre {
    width: auto;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre {
    display: block;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu {
    width: 350px;
    margin-left: 0px;
    color: #280bc9;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu-prix {
    position: relative;
    margin-left: 400px;
    bottom: 25px;
  }
  .menu4-section4 .menu-sommet_art {
    width: auto;
  }
  .menu4-section4 .menu-sommet_art .menu-art {
    display: block;
  }
  .menu4-section4 .menu-sommet_art .menu-art .menu {
    margin-left: 0px;
    color: #280bc9;
    width: 350px;
  }
  .menu4-section4 .menu-sommet_art .menu-art .menu-prix {
    position: relative;
    bottom: 25px;
    font-size: 1em;
    margin-left: 400px;
  }
}

@media screen and (max-width: 550px) {
  .menu1-section2 h2::before, .menu1-section3 h2::before, .menu1-section4 h2::before {
    display: none;
  }
  .menu1-section2 h2::after, .menu1-section3 h2::after, .menu1-section4 h2::after {
    display: none;
  }
  .menu4-section2 .menu-esquisse {
    width: auto;
  }
  .menu4-section2 .menu-esquisse .menu-liste {
    display: block;
  }
  .menu4-section2 .menu-esquisse .menu-liste .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu4-section2 .menu-esquisse .menu-liste .menu-prix {
    position: relative;
    right: 180px;
    bottom: 30px;
    font-size: 0.9em;
  }
  .menu4-section3 .menu-oeuvre_maitre {
    width: auto;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre {
    display: block;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu4-section3 .menu-oeuvre_maitre .menu-maitre .menu-prix {
    position: relative;
    margin-left: 230px;
    bottom: 30px;
    font-size: 0.9em;
  }
  .menu4-section4 .menu-sommet_art {
    width: auto;
  }
  .menu4-section4 .menu-sommet_art .menu-art {
    display: block;
  }
  .menu4-section4 .menu-sommet_art .menu-art .menu {
    font-size: 1em;
    margin-left: 0px;
    color: #280bc9;
    width: 200px;
  }
  .menu4-section4 .menu-sommet_art .menu-art .menu-prix {
    position: relative;
    margin-left: 200px;
    bottom: 30px;
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=style.css.map */