
.section3{
    margin-bottom: 200px;
   
    .btn{
        border:1px green solid;
        border-radius: 10px;
        width: 400px;
        height: 50px;
        position: relative;
        margin-top: 90px;
        text-align: center;
        margin-left: 450px;
        font-size: 2em;
        padding: 5px;
        background-color: $cd_font;
        color:$cd_txt;
        font-family: MontserratMedium, Arial, Helvetica, sans-serif;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover{
            box-shadow: 5px 5px 12px black;
            background-color:darken($cd_font, 5);
        }

    }
}