
 
 @font-face {
    font-family: "MontserratRegular";
    src: url("fonts/Montserrat-Regular.ttf") format('truetype');
    src: url("fonts/Montserrat-Regular.otf") format('opentype');
    src: url("fonts/Montserrat-Regular.eot");
    src: url("fonts/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
         url("fonts/Montserrat-Regular.woff2") format("woff2"),
         url("fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
    font-family: "CroissantOne";
    src: url("fonts/CroissantOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratMedium";
    font-weight: normal;
    font-style: normal;
    src: url("fonts/Montserrat-Medium.ttf") format('truetype');
    src: url("fonts/Montserrat-Medium.otf") format('opentype');
    src: url("fonts/Montserrat-Medium.eot");
    src: url("fonts/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
         url("fonts/Montserrat-Medium.woff2") format("woff2"),
         url("fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "MontserratSemiBold";
    font-weight: 600;
    font-style: normal;
    src: url("fonts/Montserrat-SemiBold.ttf") format('truetype');
    src: url("fonts/Montserrat-SemiBold.otf") format('opentype');
    src: url("fonts/Montserrat-SemiBold.eot");
    src: url("fonts/Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
         url("fonts/Montserrat-SemiBold.woff2") format("woff2"),
         url("fonts/Montserrat-SemiBold.woff") format("woff");
}


@font-face {
    font-family: "nimbus_bold";
    src: url('fonts/NimbusRomNo9LBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "nimbus_regular";
    src: url('fonts/NimbusRomNo9L.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Segoe";
    src: url("fonts/segoeprb.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dancing-script";
    src: url("fonts/dancing-script.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Courgette";
    src: url("fonts/Courgette-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
