
$cd_font: #57a089;
$cd_txt:#ddc03c;
$cleur_animation1:yellowgreen;
$cleur_animation2:rgb(152, 221, 14);
$cleur_animation3:rgb(178, 226, 5);
$cleur_animation4:yellow;
$font_main1:#fdd7df;
$cleur_francaise:#7f49fd;
$cleur_fransaise2:#ec7403;
$cleur_delice:rgb(3, 2, 202);
$cleur_delice2:rgb(23, 191, 233);
$cleur_palette:RGBa(70, 202, 70, 1);
$cleur_palette2:RGBa(70, 202, 70, 0.4);
$cleur_section3:rgb(173, 25, 202);
$cleur_section4:rgb(107, 12, 231);
$menu1-family:"courgette",sans-serif; 